%h2 You suggest the following names:

%table.table.table-bordered
  %tbody
  - @names.each do |team|
    %tr
      %td= team.name
      %td= link_to 'Delete', team_name_path(team), method: :delete, data: { confirm: "You sure?" }
