%h2 Please, suggest a new team name

= form_for(@team_name, html: { class: 'form-group form-signin' }) do |form|
  = form.label :name
  = form.text_field :name, placeholder: 'Team name', autofocus: true, class: 'form-control'

  = form.submit 'Submit name', class: 'btn btn-block btn-primary'
